@model TTS.Web.Models.EmployeeModel
@{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />



    <script>
    $(function () {
        $("#chkOptout").on("change", function () {
            var rdata = $("#chkOptout").attr("data-id");
            var jsonInput = { eid: rdata };            
            //alert(rdata);
            //alert($("#chkOptout").is(':checked'));
            $.ajax(
                {
                    url: '/Home/OptoutEmployee',
                    type: 'POST',
                    data: JSON.stringify(jsonInput),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert(response);
                        if (response) {
                            alert("Update Successful");
                            location.reload();
                        }
                    },
                    error: function (response) {
                        if (response != 1) {
                            alert("Error");
                        }
                    }
                });
        });
    });
    </script>
    <div class="form-group row">
        <label for="empname" class="col-sm-5 col-form-label">Name: </label>
        <div class="col-sm-5">
            <label for="EmployeeName" class="col-form-label">@Model.EmployeeName</label>
        </div>
    </div>
    <div class="form-group row">
        <label for="NonStandard" class="col-sm-5 col-form-label">Voice Available:</label>
        <div class="col-sm-5 form-check form-switch">
            <input type="checkbox" data-toggle="toggle" data-size="sm" @(Model.NonStandard ? "checked" : "") disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="OptOut" class="col-sm-5 col-form-label">OptOut:</label>
        <div class="col-sm-5">
            <input type="checkbox" data-id="@Model.EmployeeId" id="chkOptout" data-toggle="toggle" data-size="sm" @(Model.Optout ? "checked" : "")>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            @if (!string.IsNullOrEmpty(Model.AudioPath))
            {
                <audio controls>
                    <source src="@Url.Action("PlayEmployeeVoice", "Home", new { audiopath = Model.AudioPath})" type="audio/mpeg" />
                </audio>
            }
            else
            {
                <audio controls>
                    <source src="" type="audio/mpeg" />
                </audio>
            }
        </div>
    </div>
    <br />
    <br />

}
